@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__nuxt {
  height: 100%;
}

#__nuxt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.el-input__suffix:not(.el-select .el-input__suffix) {
  margin-left: -22px;
}

.el-input__inner:not(.el-select .el-input__inner) {
  padding-right: 22px;
}
